$discordBlurple: #7289DA;
$discordFullWhite: #FFF;
$discordGreyple: #99AAB5;
$discordDark: #2C2F33;
$discordNotQuiteBlack: #23272A;

// $enable-shadows: true;

$body-color: white;
$bg-primary: $discordBlurple;
$bg-white: $discordNotQuiteBlack;