body {
    background: $discordDark;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rootContainer {
    @extend .container;
    background: $discordNotQuiteBlack;
}

.rootContent {
    @extend .col-md-9;
    padding-top: 1em;
}

.btnBlurple {
    @extend .btn;

}

input.form-control {
    background-color: $discordNotQuiteBlack;
    color: $discordGreyple;
    &:active{
        background-color: $discordNotQuiteBlack;
        color: #FFF;
    }
    &:focus{
        background-color: $discordNotQuiteBlack;
        color: #FFF;
    }
}