
.sidebar {
    @extend .col-md-3;
    
    background: darkred;
    color: lightgray;

    h3 {
        @extend .p-2;
        @extend .pt-4;

        border-bottom: thin dashed lightgray;
    }

    nav {
        border-top: thin dashed lightgray;
    
        ul {
            @extend .list-unstyled;
            li {
                @extend .row;
                cursor: pointer;
                &:hover {
                    background: red;
                }

                a {
                    @extend .col;
                    @extend .p-3;
                    color: inherit;
                    text-decoration: inherit;
                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}
