// Discord-themed colors
$discordBlurple: #7289DA;
$discordFullWhite: #FFF;
$discordGreyple: #99AAB5;
$discordDark: #2C2F33;
$discordNotQuiteBlack: #23272A;

// Tagioalisi Colors
$baseText: #DDDDDD;

// Padding units
$pad: 16px;